/*Mobile*/
@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 60% 1fr 1fr 60%;
        grid-template-rows: 1fr 1fr;
    }
    .item1 {
        grid-column-start: 1;
        grid-column-end: 5 ;
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url('../images/history.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item1 div {
        position: relative;
        height: 100%;
    }
    .item1 #arrow1 {
        position: relative;
        top: 600px; 
        left: 700px;
    }
    .item2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url('../images/history1.jpg');
        background-size: cover;
    }
    .item2 div{
        height: 100%;
    }
    .item2 #arrow2 {
        position: relative;
        top: 600px; 
        left: 700px;
    }
    .item2 button {
        left: 39%;
        top: 1900px;
        background-color: white;
        color: black;
    }
    div.abortion {
        top: 100px;
        height: 100px;
    }
}
/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 1199px){
    .grid-container {
        display: grid;
        grid-template-columns: 60% 1fr 1fr 1fr;
        grid-template-rows: 1fr 100vh 100vh 100vh;
    }
    .item1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: url('../images/history.jpg');
        background-position: -400px;
    }
    .item1 div {
        position: relative;
        height: 100%;
    }
    .item1 #arrow1 {
        position: relative;
        top: 600px; 
        left: 400px;
    }
    .item2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url('../images/history1.jpg');
        background-position: 100px;
    }
    .item2 div {
        height: 90%;
    }
    .item2 #arrow2 {
        position: relative;
        top: 600px; 
        left: 400px;
    }
    .item2 button {
        left: 43%;
        top: 500px;
        background-color: white;
        color: black;
    }
    div.abortion {
        height: 100%;
    }
}
/*Desktop*/
@media only screen and (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: 60% 1fr 1fr 1fr;
        grid-template-rows: 1fr 100vh 100vh;
    }
    .nav {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .item1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url('../images/history.jpg');
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-size: cover;
    }
    .item1 div {
        height: 100%;
    }
    .item1 #arrow1 {
        position: relative;
        top: 600px; 
        left: 700px;
    }
    .item2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        background-image: url('../images/history1.jpg');
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-size: cover;
        
    }
    .item2 div {
        height: 100%;
    }
    .item2 #arrow2 {
        position: relative;
        top: 600px; 
        left: 700px;
    }
    .item2 button {
        left: 39%;
        top: 500px;
        background-color: white;
        color: black;
    }
    div.abortion {
        height: 100%;
    }
}